schema/routing/computation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    targetNamespace="http://www.surveysm.com"
    xmlns:s="http://www.surveysm.com"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">
    <xs:include schemaLocation="rpn.xsd"></xs:include>
    <xs:complexType name="Computation">
        <xs:choice>
            <xs:element name="assignment" type="s:Assignment"></xs:element>
        </xs:choice>
        <xs:attribute name="ref" type="xs:string" use="required"></xs:attribute>           
    </xs:complexType>
</xs:schema>
