documentation/thesis/literature/key_keyref.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="survey">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="section" type="SectionType" minOccurs="1" maxOccurs="unbounded"></xs:element>
                <xs:element name="routing" type="RoutingType" minOccurs="1" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
        </xs:complexType>
        ...
        <xs:key name="questionKey">
            <xs:selector xpath="section/intro | section/single | section/multiple | section/open"></xs:selector>
            <xs:field xpath="@id"></xs:field>
        </xs:key>
        ...
        <xs:keyref name="questionKeyRef" refer="questionKey">
            <xs:selector xpath="routing/variable"></xs:selector>
            <xs:field xpath="@ref"></xs:field>
        </xs:keyref>
    </xs:element>
    ...
</xs:schema>