documentation/thesis/implementation/code/integrityConstraint.xml

<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2" xml:lang="en">
    <title>Schematron rules for Survey State Model (SSM)</title>
    <ns uri="https://github.com/jollopre/ssm" prefix="ssm"></ns>
    ...
    <pattern id="variable">
        ...
        <rule context="ssm:state//ssm:variable">
            <let name="statemodel" value="ancestor::ssm:statemodel"/>
            <let name="variable" value="."/>
            ...
            <assert test="if(exists(ancestor::ssm:ssm/ssm:content/ssm:section[@id = $statemodel/@ref]/child::*[@name = $variable/@ref])) 
                then true()
                else if(exists(ancestor::ssm:ssm/ssm:field/child::*[@id = $variable/@ref])) 
                then true() 
                else false()" diagnostics="m61">
            </assert>
            ...
        </rule>
        ...
    </pattern>
    ...
    <diagnostics>
        ...
        <diagnostic id="m61" xml:lang="en">
            variable: ref attribute must reference to a question or a field.
        </diagnostic>
        ...
    </diagnostics>
</schema>