schema/metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    targetNamespace="http://www.surveysm.com"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">
    <xs:complexType name="Metadata">
        <xs:sequence>
            <xs:element name="name" type="xs:string"></xs:element>
            <xs:element name="description" type="xs:string"></xs:element>
            <xs:element name="date" type="xs:date" default="1970-01-01"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
